@import "../_global.sass"

.home
	& .container
		padding: 20px
		background-color: $background
		display: grid
		grid-template-columns: 200px 1fr
		gap: 0 20px
		align-items: flex-start
		grid-template-areas: "menu content content content" "menu content content content" "menu content content content"
	&__nav
		&-list
			display: flex
			flex-direction: column
			gap: 10px 0
			&-item
				color: $gray
				& a, span
					display: block
					padding: 10px
				&.active
					color: $black
					background-color: $dark
				&.logout
					margin-top: 50px
					color: red
	&__sections
		border-right: 1px solid $blue
		height: 100%
	&__content
		min-height: 100vh

.actionPlan
	display: flex
	flex-direction: column
	gap: 20px
	&__sheet
		text-decoration: none
		border-collapse: collapse
		width: 100%
		text-align: center
		background-color: white
		box-shadow: $box-shadow-white
		& th
			font-weight: normal
			font-size: 14px
			color: #ffffff
			background-color: #354251
		& td
			font-size: 13px
			color: #354251
		& td, & th
			white-space: pre-wrap
			padding: 10px 5px
			line-height: 13px
			vertical-align: middle
			border: 1px solid #354251
		& tr:hover
			background-color: #f9fafb
		& tr:hover td
			color: #354251
			cursor: default
	&__link
		width: fit-content
		padding: 10px 15px
		border-radius: 10px
		background-color: white
		box-shadow: $box-shadow-white
		cursor: pointer
		&:hover
			color: $blue

.students
	display: grid
	grid-template-rows: auto 1fr
	gap: 20px 0
	&__header
		display: grid
		grid-template-columns: minmax(auto, 60%) auto
		gap: 0 50px
	&__input
		font-size: 18px

.information
	&__button
		margin-top: 20px
