@import "../_global.sass"
@import "../components/filters.sass"
@import "../components/alert.sass"

%button
	width: fit-content
	padding: 10px 15px
	border-radius: 10px
	background-color: white
	box-shadow: $box-shadow-white
	cursor: pointer
	&:hover
		color: $blue

%sheet
	text-decoration: none
	border-collapse: collapse
	width: 100%
	text-align: center
	background-color: white
	box-shadow: $box-shadow-white
	& td, & th
		padding: 10px 15px
		border: 1px solid $blue
%sheetInput
	@extend %sheet
	& td, & th
		width: 50%
		height: 40px
		position: relative
	& td input, & td textarea
		width: 100%
		height: 100%
		position: absolute
		text-align: center
		left: 0
		top: 0
		border: none
		resize: none
%list
	display: flex
	flex-direction: column
	width: 100%
	& li
		width: 100%
		padding: 20px
		cursor: default
		display: flex
		gap: 20px
		align-items: center
		user-select: none
		&:nth-child(2n)
			background-color: $dark
		&:hover
			color: $blue


.home
	& .container
		background-color: $background
		display: grid
		grid-template-columns: 200px 1fr
		gap: 0 20px
		align-items: flex-start
		grid-template-areas: "menu content content content" "menu content content content" "menu content content content"
	&__nav
		position: sticky
		top: 0
		&-list
			display: flex
			flex-direction: column
			&-item
				color: $gray
				& a, span
					display: block
					padding: 10px
				&.active
					color: $black
					background-color: $dark
				&.logout
					margin-top: 50px
					color: red
	&__sections
		border-right: 1px solid $blue
		height: 100%
	&__content
		min-height: 100vh
		margin-top: 20px

.actionPlan
	display: flex
	flex-direction: column
	gap: 20px
	& h1
		text-align: center
	&__sheet
		text-decoration: none
		border-collapse: collapse
		width: 100%
		text-align: center
		background-color: white
		box-shadow: $box-shadow-white
		& th
			font-weight: normal
			font-size: 14px
			color: #ffffff
			background-color: #354251
		& td
			font-size: 13px
			color: #354251
		& td, & th
			white-space: pre-wrap
			padding: 10px 5px
			line-height: 13px
			vertical-align: middle
			border: 1px solid $blue-dark
		& tr:hover
			background-color: #f9fafb
		& tr:hover td
			color: #354251
			cursor: default
	&__link
		@extend %button

.studentList
	text-align: left
	display: flex
	flex-direction: column
	gap: 40px 0
	margin-bottom: 10px
	&__form
		display: flex
		flex-direction: column
		gap: 20px 0
		& label
			display: grid
			grid-template-rows: auto 1fr
			gap: 10px 0
	&__submit
		margin-top: 20px

.students, .employees
	display: grid
	grid-template-rows: auto 1fr
	gap: 20px 0
	&__header
		position: sticky
		top: 10px
		background-color: rgba($white, .6)
		backdrop-filter: blur(2px)
		display: grid
		grid-template-columns: minmax(auto, 60%) auto
		gap: 0 50px
		align-items: center
		&-right
			position: relative
	&__btn-filter
		width: 100%
	&__search
		font-size: 17px
	&__content
		display: flex
		justify-content: space-between
		background: white
	&__list
		@extend %list

	&__modal
		width: 100%
		min-height: 100vh
		background-color: rgba(0,0,0,.5)
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

.employees
	background-color: white
	margin-top: 20px
	gap: 0

.card
	width: 60%
	max-width: 1600px
	position: absolute
	top: 50%
	left: 50%
	max-height: 80%
	overflow-y: auto
	transform: translate(-50%, -50%)
	background-color: $white
	padding: 10px 15px
	display: flex
	flex-direction: column
	gap: 10px
	&__content
		display: flex
		flex-direction: column
		gap: 20px 0
	&__section
		display: flex
		flex-direction: column
		gap: 10px 0
		&-content
			display: flex
			flex-direction: column
			gap: 10px 0
		& h4
			margin-bottom: 10px
		&-title
			padding-bottom: 5px
			border-bottom: 1px solid $dark
			&::first-letter
				color: $blue
		& a
			color: $blue
			text-decoration: underline
	&__main
		&-top
			display: flex
			align-items: flex-start
			gap: 0 20px
			& img
				width: 150px
		&-info
			&-name
				font-size: 20px
			&-list
				display: flex
				flex-direction: column
				gap: 5px 0
				margin-top: 10px
				& li
					&.status
						&-bad
							color: red
						&-good
							color: green
		&-parents
			& ul
				margin-top: 5px
				display: flex
				flex-direction: column
				gap: 10px 0
	&__employee
		&-job
			display: flex
			gap: 0 5px
			flex-wrap: wrap
			& li
				font-size: 15px
		&-description
			font-size: 15px
			line-height: 22px
	&__feedback
		&-sheet
			@extend %sheet
			& td, & th
				width: 33.3%
		&-check
			position: relative
			display: flex
			justify-content: center
			align-items: center
			& svg:last-child
				position: absolute
	&__checkbox
		&-sheet
			@extend %sheetInput
			& td, & th
				width: 33.3%
	&__mode
		&-achivments
			&-sheet
				@extend %sheetInput
		&-abilities
			&-sheet
				@extend %sheetInput

	&__achivments
		&-company
			&-sheet
				@extend %sheetInput
	&__volunteering
		&-company
			&-sheet
				@extend %sheetInput

.information
	&__list
		margin-top: 20px
		display: flex
		flex-direction: column
		&-arrow
			transition: all .2s ease
			&.rotate
				transform: rotate(180deg)
		&-item
			display: flex
			flex-direction: column
			&:nth-child(2n)
				background-color: $dark
		&-header
			display: flex
			justify-content: space-between
			align-items: center
			padding: 20px
			cursor: pointer
			user-select: none
			&:hover
				color: $blue
		&-content
			border-top: 1px solid $black
			padding: 10px 20px
			background-color: $background
			& table
				width: 100%
		&-documents
			display: flex
			flex-direction: column
			gap: 10px 0
			font-size: 15px
			& li
				display: flex
				justify-content: space-between
				align-items: center
			&-do
				display: flex
