@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
.loader__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.loader__content {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader__content::after,
.loader__content::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #9A9A9A;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}

.loader__content::after {
  border-color: rgb(2, 221, 217);
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  overflow: overlay;
}

::-webkit-scrollbar {
  cursor: grab !important;
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar {
  cursor: grab !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
main, .container {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}
textarea.input__primary {
  border: 1px solid rgb(2, 221, 217);
}

button {
  border: none;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

.modal {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal__content {
  width: 60%;
  max-width: 1600px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 80%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background-color: #EFEFEF;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-active {
  background: linear-gradient(225deg, rgb(0, 182, 176) 0%, rgb(2, 212, 177) 100%) !important;
  color: white !important;
}
.btn-active:hover {
  background: linear-gradient(225deg, rgb(1, 167, 164) 0%, rgb(1, 197, 164) 100%) !important;
}
.btn__primary {
  border: 1px solid rgb(2, 221, 217);
  background-color: rgb(0, 177, 174);
  color: #EFEFEF;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  padding: 10px;
  transition: all 0.2s ease;
  border-radius: 6px;
}
.btn__primary:hover {
  background-color: rgba(0, 177, 174, 0.7);
}

.input__primary {
  background: none;
  padding: 10px 0;
  border-bottom: 1px solid rgb(2, 221, 217);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease;
}
.input__primary:focus {
  background-color: #dfdfdf;
  padding: 10px;
}

.title__primary {
  font-weight: 400;
  font-size: 25px;
  font-family: "Manrope", sans-serif;
}

.students__filters {
  width: 100%;
  position: absolute;
  bottom: -380px;
  right: 0;
  background-color: rgba(239, 239, 239, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 6px;
  padding: 20px;
}
.students__filters-form {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.students__filters-form label {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0 10px;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.students__filters-form label.column {
  flex-direction: column;
  gap: 10px 0;
}
.students__filters-form label.active {
  color: rgb(2, 221, 217);
  border-right: 1px solid #9A9A9A;
}
.students__filters-submit {
  margin-top: 10px;
}

.alert {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  padding: 10px;
  border-radius: 3px;
  max-width: 400px;
  font-weight: 600;
  border: 1px solid transparent;
}
.alert__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding-right: 30px;
}
.alert.success {
  background-color: #DEF2D5;
  color: #617658;
  border-color: #617658;
}
.alert.error {
  background-color: #EBC7C3;
  color: #AC6363;
  border-color: #AC6363;
}
.alert__close {
  position: absolute;
  top: 14px;
  right: 8px;
  font-size: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.alert__description {
  font-size: 15px;
  line-height: 22px;
}

.actionPlan__link {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.actionPlan__link:hover {
  color: rgb(2, 221, 217);
}

.card__feedback-sheet, .employees__main .modal__content .card__content-meetingResult, .card__volunteering-company-sheet, .card__achivments-company-sheet, .card__mode-abilities-sheet, .card__mode-achivments-sheet, .card__checkbox-sheet {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
}
.card__feedback-sheet td, .employees__main .modal__content .card__content-meetingResult td, .card__volunteering-company-sheet td, .card__achivments-company-sheet td, .card__mode-abilities-sheet td, .card__mode-achivments-sheet td, .card__checkbox-sheet td, .card__feedback-sheet th, .employees__main .modal__content .card__content-meetingResult th, .card__volunteering-company-sheet th, .card__achivments-company-sheet th, .card__mode-abilities-sheet th, .card__mode-achivments-sheet th, .card__checkbox-sheet th {
  padding: 10px 15px;
  border: 1px solid rgb(2, 221, 217);
}

.card__volunteering-company-sheet td, .card__achivments-company-sheet td, .card__mode-abilities-sheet td, .card__mode-achivments-sheet td, .card__checkbox-sheet td, .card__volunteering-company-sheet th, .card__achivments-company-sheet th, .card__mode-abilities-sheet th, .card__mode-achivments-sheet th, .card__checkbox-sheet th {
  width: 50%;
  height: 40px;
  position: relative;
}
.card__volunteering-company-sheet td input, .card__achivments-company-sheet td input, .card__mode-abilities-sheet td input, .card__mode-achivments-sheet td input, .card__checkbox-sheet td input, .card__volunteering-company-sheet td textarea, .card__achivments-company-sheet td textarea, .card__mode-abilities-sheet td textarea, .card__mode-achivments-sheet td textarea, .card__checkbox-sheet td textarea {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  border: none;
  resize: none;
}

.students__list, .employees__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.students__list li, .employees__list li {
  width: 100%;
  padding: 20px;
  cursor: default;
  display: flex;
  gap: 20px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.students__list li:nth-child(2n), .employees__list li:nth-child(2n) {
  background-color: #dfdfdf;
}
.students__list li:hover, .employees__list li:hover {
  color: rgb(2, 221, 217);
}

.home .container {
  background-color: rgb(246, 246, 246);
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0 20px;
  align-items: flex-start;
  grid-template-areas: "menu content content content" "menu content content content" "menu content content content";
}
.home__nav {
  position: sticky;
  top: 0;
}
.home__nav-list {
  display: flex;
  flex-direction: column;
}
.home__nav-list-item {
  color: #9A9A9A;
}
.home__nav-list-item a, .home__nav-list-item span {
  display: block;
  padding: 10px;
}
.home__nav-list-item.active {
  color: #040404;
  background-color: #dfdfdf;
}
.home__nav-list-item.logout {
  margin-top: 50px;
  color: red;
}
.home__sections {
  border-right: 1px solid rgb(2, 221, 217);
  height: 100%;
}
.home__content {
  min-height: 100vh;
  margin-top: 20px;
}

.actionPlan {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actionPlan h1 {
  text-align: center;
}
.actionPlan__sheet {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
}
.actionPlan__sheet th {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: #354251;
}
.actionPlan__sheet td {
  font-size: 13px;
  color: #354251;
}
.actionPlan__sheet td, .actionPlan__sheet th {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid rgb(0, 177, 174);
}
.actionPlan__sheet tr:hover {
  background-color: #f9fafb;
}
.actionPlan__sheet tr:hover td {
  color: #354251;
  cursor: default;
}
.studentList {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin-bottom: 10px;
}
.studentList__form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.studentList__form label {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px 0;
}
.studentList__submit {
  margin-top: 20px;
}

.students, .employees {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px 0;
}
.students__list li, .employees__list li {
  cursor: pointer;
}
.students__header, .employees__header {
  position: sticky;
  top: 10px;
  background-color: rgba(239, 239, 239, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: grid;
  grid-template-columns: minmax(auto, 60%) auto;
  gap: 0 50px;
  align-items: center;
}
.students__header-right, .employees__header-right {
  position: relative;
}
.students__btn-filter, .employees__btn-filter {
  width: 100%;
}
.students__search, .employees__search {
  font-size: 17px;
}
.students__content, .employees__content {
  display: flex;
  justify-content: space-between;
  background: white;
}
.employees__header {
  grid-template-columns: none;
}
.employees__main {
  background-color: white;
  margin-top: 20px;
  gap: 0;
}
.employees__main__list li {
  cursor: pointer;
}
.employees__main .modal__content .card {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.employees__main .modal__content .card__header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #EFEFEF;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0 10px;
  border-bottom: 1px solid #9A9A9A;
  padding-bottom: 10px;
}
.employees__main .modal__content .card__header-btn.active {
  color: rgb(2, 221, 217);
  background-color: #EFEFEF;
}
.employees__main .modal__content .card__content-meetingResult td {
  width: 33.3%;
}
.employees__main .modal__content .card__content-meetingResult td input {
  display: none;
}
.employees__main .modal__content .card__content-meetingResult td label {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.employees__main .modal__content .card__content-meetingResult td label svg:last-child {
  display: none;
  position: absolute;
}

#directorForm {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
#directorForm label {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.card__section {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.card__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.card__section h4 {
  margin-bottom: 10px;
}
.card__section-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}
.card__section a {
  color: rgb(2, 221, 217);
  text-decoration: underline;
}
.card__main-top {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}
.card__main-top img {
  width: 150px;
}
.card__main-info-name {
  font-size: 20px;
}
.card__main-info-list {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-top: 10px;
}
.card__main-info-list li.status-bad {
  color: red;
}
.card__main-info-list li.status-good {
  color: green;
}
.card__main-parents ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.card__employee-job {
  display: flex;
  gap: 0 5px;
  flex-wrap: wrap;
}
.card__employee-job li {
  font-size: 15px;
}
.card__employee-description {
  font-size: 15px;
  line-height: 22px;
}
.card__feedback-sheet td, .card__feedback-sheet th {
  width: 33.3%;
}
.card__feedback-check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__feedback-check svg:last-child {
  position: absolute;
}
.card__checkbox-sheet td, .card__checkbox-sheet th {
  width: 33.3%;
}
.information__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.information__list-arrow {
  transition: all 0.2s ease;
}
.information__list-arrow.rotate {
  transform: rotate(180deg);
}
.information__list-item {
  display: flex;
  flex-direction: column;
}
.information__list-item:nth-child(2n) {
  background-color: #dfdfdf;
}
.information__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.information__list-header:hover {
  color: rgb(2, 221, 217);
}
.information__list-content {
  border-top: 1px solid #040404;
  padding: 10px 20px;
  background-color: rgb(246, 246, 246);
}
.information__list-content table {
  width: 100%;
}
.information__list-documents {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-size: 15px;
}
.information__list-documents li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information__list-documents-do {
  display: flex;
}/*# sourceMappingURL=home.css.map */