@import "../_global"

%border
	border: 5px solid transparent
	background-image: linear-gradient(white, white), $main-gradient
	background-origin: border-box
	background-clip: content-box, border-box
	box-sizing: border-box
	border-radius: 10px

.login
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	&__border
		width: 700px
		height: 500px
		@extend %border
	&__container
		width: 70%
		height: 90%
		margin-left: 15%
		margin-top: 5%
		display: flex
		flex-direction: column
	&__characters
		display: flex
		gap: 20px
		height: fit-content
		justify-content: space-between
		width: 100%
	&__character
		padding: 10px 15px
		background: white
		border-radius: 10px
		box-shadow: $box-shadow-white
		font-weight: 600
		font-size: 1em
		cursor: pointer
		&:hover
			color: $green
	&__form
		margin-top: 70px

.form
	&__container
		width: 90%
		height: 100%
		padding-left: 10%
		display: flex
		flex-direction: column
		gap: 30px
	&__item
		display: flex
		flex-direction: column
		gap: 10px
		font-size: 20px
	&__input
		padding: 10px 15px
		border: 2px solid $green
		border-radius: 10px
	&__button
		width: fit-content
		padding: 15px 20px
		border-radius: 10px
		border: 1px solid $green
		box-shadow: $box-shadow
		color: rgb(0 0 0 / 73%)
		background-color: $background
		font-weight: 600
		font-size: 1em
		cursor: pointer
		&:hover
			background-color: rgb(241, 241, 241)
