@font-face
	font-family: "Proxima Nova", sans-serif
	font-weight: 700
	src: local("Proxima Nova"), url("/fonts/proxima/ProximaNova-Bold.eot") format("eot"), url("/fonts/proxima/ProximaNova-Bold.ttf") format("ttf"), url("/fonts/proxima/ProximaNova-Bold.woff") format("woff"), url("/fonts/proxima/ProximaNova-Bold.woff2") format("woff2")

@font-face
	font-family: "Proxima Nova", sans-serif
	font-weight: 400
	src: local("Proxima Nova"), url("/fonts/proxima/ProximaNova-Regular.eot") format("eot"), url("/fonts/proxima/ProximaNova-Regular.ttf") format("ttf"), url("/fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("/fonts/proxima/ProximaNova-Regular.woff2") format("woff2")

@font-face
	font-family: "Proxima Nova", sans-serif
	font-weight: 600
	src: local("Proxima Nova"), url("/fonts/proxima/ProximaNova-Semibold.eot") format("eot"), url("/fonts/proxima/ProximaNova-Semibold.ttf") format("ttf"), url("/fonts/proxima/ProximaNova-Semibold.woff") format("woff"), url("/fonts/proxima/ProximaNova-Semibold.woff2") format("woff2")
