@import "./_vars"
@import "./components/loader.sass"
@import "./components/scroll.sass"

*, *::after, *::before
	padding: 0
	margin: 0
	box-sizing: border-box
	list-style: none
	outline: none

body
	font-family: $fontOpenSans
	font-weight: 400
	height: 100vh

main, .container
	min-height: 100vh

a
	color: inherit
	text-decoration: none

input
	border: none

img
	max-width: 100%
	height: auto

button
	cursor: pointer
	border: none
	background: none

textarea
	resize: vertical
	&.input__primary
		border: 1px solid $blue

button
	border: none

.hidden
	display: none !important

.container
	max-width: 1680px
	margin: 0 auto

.modal
	width: 100%
	min-height: 100vh
	background-color: rgba(0,0,0,.5)
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	&__content
		min-height: 255px
		width: 70%
		max-width: 1600px
		position: absolute
		top: 50%
		left: 50%
		max-height: 80%
		overflow-y: auto
		transform: translate(-50%, -50%)
		background-color: $white
		padding: 10px 15px
		padding-top: 0
		display: flex
		flex-direction: column
		gap: 10px

.btn
	&-active
		background: $btn-active_color !important
		color: white !important
		&:hover
			background: $btn-active_hover !important
	&__primary
		border: 1px solid $blue
		background-color: $blue-dark
		color: $white
		font-family: $fontManrope
		font-weight: 600
		padding: 10px
		transition: all .2s ease
		border-radius: 6px
		&:disabled
			cursor: default
			background-color: rgba($blue, .7)
			&:hover
				background-color: rgba($blue, .7)
		&:hover
			background-color: rgba($blue-dark, .7)
		&.red
			background-color: #df8274
			color: $white !important
			border: none
			&:hover
				background-color: rgba(#df8274, .7)

.input
	&__primary
		background: none
		padding: 10px 0
		border-bottom: 1px solid $blue
		font-family: $fontManrope
		font-weight: 400
		transition: all .2s ease
		&:focus
			background-color: $dark
			padding: 10px
		&.error
			border-bottom: 1px solid $orange
			background-color: $dark

.title
	&__primary
		font-weight: 400
		font-size: 25px
		font-family: $fontManrope
