@import "./_vars.sass"
@import "./components/header.sass"
@import "./components/footer.sass"
@import "./components/studentFilter.sass"
@import "./components/docs.sass"

*, *::after, *::before
	padding: 0
	margin: 0
	box-sizing: border-box
	list-style: none
	outline: none

body
	font-family: $fontProximaRegular

html, body
	height: 100%

a
	color: inherit
	text-decoration: none

textarea
	resize: vertical
	min-height: 142px

table
	width: 100%

select
	font-size: 19px
	color: $black
	padding: 10px 12px
	border-radius: 10px
	border: none

.hidden
	display: none

.container
	max-width: 1440px
	margin: 0 auto
	padding: 0 44px
	&.content
		max-width: 1029px

input[type="checkbox"]
	border: 2px solid $red
	-moz-appearance: none
	-webkit-appearance: none
	-o-appearance: none
	width: 13px
	height: 13px
	border-radius: 2px
	background: none
	position: relative
	&:checked
		background-color: $red
		&::before
			position: absolute
			content: "✔"
			color: $lightGray
			left: 50%
			top: 50%
			-webkit-transform: translate(-50%,-50%)
			-moz-transform: translate(-50%,-50%)
			-ms-transform: translate(-50%,-50%)
			transform: translate(-50%,-50%)

.btn
	&__primary
		color: $black
		border: .8px solid $black
		font-family: $fontProximaBold
		background: none
		border-radius: 8.05px
		padding: 20px
		font-size: 16.7px
		cursor: pointer
		width: 100%
		&.outline
			color: $white
			border: 2px solid $white
			padding: 18px 52px
			font-size: 22px
		&.red
			background-color: $red
			border-color: $red
			color: $white
			font-family: $fontProximaBold
			font-size: 25px
		&.small
			padding: 16px
			font-size: 25px

.input
	&__primary
		border: 0.7px solid $black
		border-radius: 8.16px
		padding: 17.92px 16.05px
		width: 100%
		font-size: 17.53px
		&::placeholder
			font-family: $fontProximaSemibold
			color: #B5BBC2
		&.gray
			border: none
			background-color: #F2F2F2
			border-radius: 10px
			font-weight: 400
			font-size: 30px
			padding: 7px 16px
			&::placeholder
				color: $gray
				font-weight: 400

.title
	&__section
		font-family: $fontProximaSemibold
		font-size: 57px
		color: $black
		max-width: 912px
