@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap')

$fontOpenSans: "Open Sans", sans-serif
$fontManrope: "Manrope", sans-serif

$white: #EFEFEF
$black: #040404
$orange: #EA4229
$gray: #9A9A9A
$dark: #dfdfdf
$green: #DEF2D5
$alertGreen: #DEF2D5
$alertRed: #EBC7C3
$red: #EBC7C3
$main-gradient: linear-gradient(rgb(13, 211, 152), rgb(0, 255, 255), rgb(13, 211, 152), rgb(0, 255, 255))
$blue: rgb(2, 221, 217)
$blue-dark: rgb(0, 177, 174)
$box-shadow: 0px 24px 48px -12px rgba(17, 24, 39, 0.25)
$box-shadow-white: 0px 15px 25px 0px rgba(0, 0, 0, 0.05)
$background: rgb(246, 246, 246)
$btn-active_color: linear-gradient(225deg, rgb(0, 182, 176) 0%, rgb(2, 212, 177) 100%)
$btn-active_hover: linear-gradient(225deg, rgb(1 167 164) 0%, rgb(1 197 164) 100%)
