@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap')

$fontOpenSans: "Open Sans", sans-serif
$white: #EFEFEF
$black: #040404
$orange: #EA4229
$gray: #9A9A9A
