@import "../_vars.sass"

.loader__wrapper
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 99

.loader__content
	width: 48px
	height: 48px
	display: inline-block
	position: relative

.loader__content::after,
.loader__content::before
	content: ''
	width: 48px
	height: 48px
	border: 2px solid $gray
	position: absolute
	left: 0
	top: 0
	box-sizing: border-box
	animation: rotation 2s ease-in-out infinite

.loader__content::after
	border-color: $blue
	animation-delay: 1s

@keyframes rotation
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)
